# Environment & Secrets
.env
.env.*
profiles.yml
notes.txt

# Logs
logs/
**/logs/
dbt.log
**/dbt.log

# Python
__pycache__/
*.py[cod]

# dbt & Build Artifacts
target/
dbt_packages/
dbt_internal_packages/